# Dependency directories
node_modules/
npm-debug.log

# Build outputs
/dist
/.nyc_output
/coverage

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE-specific files
/.idea
/.vscode
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Optional npm cache & log
.npm
.npmrc
npm-debug.log*

# Optional eslint cache
.eslintcache

# Optional Yarn files
yarn-debug.log*
yarn-error.log*
